@model BorjesLIA.ViewModel.StartModelViewModel
@{ 
    string stringPartOfIdIndex = "carouselElem";
    int IdIndex = 0;
    string OwlItemIndexID = String.Format("{0},{1}", stringPartOfIdIndex, IdIndex); 
    }

<nav class="navbar navbar-default navbar-collapse"><!-- testade att byta till div ist, för att ändra placeringen och få med naven/ -->

    <div class="container-dashboard">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a href="/">
                    <img src="~/Content/images/logo_blu.png" />
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
            <span class="navbar-right navbar-form btn fa fa-tv fa-2x" onclick="toggleFullScreen()" data-toggle="tooltip" data-placement="left" title="Helskärm"></span>
        </div>
    </div>
</nav>
<section id="main-slider">
    <div class="owl-carousel">
        @foreach (var element in Model.listVM.OrderBy(x => x.orderby))
            {
                //för att lokal video inte går att styra från iframe.
                if (element.type == 4.1m) //4.1 typ för mp4
                {
                <div class="owl-item">
                    <video id="@element.url" class="center">
                        <source src="@element.url" type="video/mp4" class="VideoClassTag" name="@element.Duration" />
                    </video>
                </div>
            }

            else if (element.type == 4.2M)
            {
                <div class="owl-item">
                    <iframe id="@element.url" class="VideoClassTag" src="@element.url" name="@element.Duration" webkitAllowFullScreen mozallowfullscreen allowFullScreen allowfullscreen frameborder="0"></iframe>
                </div>
            }
            else
            {
                <div class="owl-item">
                    <iframe id="@element.url" src="@element.url" class="VideoClassTag" webkitAllowFullScreen mozallowfullscreen allowFullScreen allowfullscreen frameborder="0"></iframe>
                </div>
            }
        }
    </div>
</section>



















