@model BorjesLIA.ViewModel.VideoViewModel

<table class="table">
    <tr>
        <th>
           URL
        </th>
        <th>
         Namn
        </th>
        <th>
            Edit
        </th>
    </tr>

    @foreach (var item in Model.ListOfVideoModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>