@model BorjesLIA.Models.Video.VideoModel

@{
    ViewBag.Title = "Delete";
}

    <div class="container-dashboard body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                @Html.Partial("_AdminPanel")
            </div>
        </div>
        <div class="right_col" role="main">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Borttagning av data</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- fixa en holder för formen-->
                <div class="col-md-4 col-sm-12 col-xs-12 pull-left">
                    <div class="x_panel">
                        <div class="x_title alert-danger">
                            <h2>Du håller på att ta bort data. Vill du fortsätta?</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-9">
                                    @Html.HiddenFor(model => model.ID)
                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Namn</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Videolänk</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Längd</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Typ</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Sorteringsindex</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.PlacingOrder, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group">
                                                Aktiv @Html.DisplayFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Tillagd av:</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <h3>Datum</h3>
                                            <div class="input-group">
                                                @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Ta bort" class="btn delete-button" /> |
                                    @Html.ActionLink("Tillbaka", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Fixa en form för bilden -->
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Video @Model.Name</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <div id="getProp" data-prop="@Html.DisplayFor(model => model.ID)"></div>

                            <section id="show-result-box" class="hidden">
                                <iframe width="560" height="315" id="myVideoID" src="" frameborder="0" allowfullscreen></iframe>
                            </section>
                            <section id="show-video-result-box" class="hidden">
                                <video controls width="560" height="315" id="videoID">
                                    <source src="" type="video/mp4">
                                </video>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            //ger yt vad den behöver
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            var player;

            //Skaffa property
            var propID = document.getElementById('getProp');
            var prop = propID.getAttribute('data-prop');
            //skickar in id för att hämta rätt url
            $.ajax({
                type: "POST",
                url: "/VideoModels/CallJsShowVideo",
                traditional: true,
                data: {
                    videoID: prop,
                }
            }).done(function (data) {
                //får tillbaka url
                if (data.success === true) {
                    var getString = data.returnData;
                    var checkOne = getString.includes("Content/videos");
                    var checkTwo = getString.includes("youtube");
                    var checkThree = getString.includes("vimeo");
                    //on video är lokal
                    if (checkOne) {
                        $('#show-video-result-box').removeClass('hidden');
                        $('#videoID').attr("src", data.returnData);


                    }
                        // om video är yt
                    else if (checkTwo) {
                        //Skapa spelare med API för att kunna ta ut duration
                        $('#myVideoID').attr("src", data.returnData);
                        $('#show-result-box').removeClass('hidden');
                        //player = new YT.Player('myVideoID', {
                        //    events: {
                        //        'onReady': onPlayerReady
                        //    }
                        //});
                    }
                        //om video är vimeo
                    else if (checkThree) {
                        $('#myVideoID').attr("src", data.returnData);
                        $('#show-result-box').removeClass('hidden');
                    }

                } else {
                    alert(data.errorMessage)
                    //location.reload();
                }
            }).fail(function (e) {
                alert('Fail. Cannot show video at this time')
                //location.reload();
            });
            //});
            function onPlayerReady(event) {

                //event.target.playVideo();
            }

        });
    </script>

