@model BorjesLIA.ViewModel.VideoViewModel

<h2>Preview</h2>

<table class="table">
    <tr>
        <th>
            url

        </th>
        <th>
            name
            @*@Html.DisplayNameFor(model => model.name)*@
        </th>
        <th>
            orderby
            @*@Html.DisplayNameFor(model => model.orderby)*@
        </th>
        <th>
            active
            @*@Html.DisplayNameFor(model => model.active)*@
        </th>
        <th>
            dt
            @*@Html.DisplayNameFor(model => model.dt)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListOfVideoModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacingOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
         
            <td>
                <button class="btnView" data-prop="@item.ID">Show</button>
            </td>
        </tr>
    }

</table>

@*<section id="show-result-box" class="hidden">
    <video controls="controls" width="320" height="240" id="myVideoID">
            <source src="" type="video/mp4" />
        </video>
</section>*@

@*<video controls="controls" width="320" height="240" >
        <source src="https://www.youtube.com/embed/inBKFMB-yPg" type="video/mp4" />
    </video>*@

<section id="show-result-box" class="hidden">
        <iframe width="560"
                height="315"
                id="myVideoID"
                src=""
                frameborder="0"
                allowfullscreen></iframe>
    </section>

<script>
    //<!--http://stackoverflow.com/questions/25616043/passing-parameters-to-javascript-button-click-handler-->
    $('.btnView').click(function () {
        var prop = $(this).attr('data-prop');
        alert("knapen är klickad. id: " + prop);
        $.ajax({
            type: "POST",
            url: "/VideoModels/CallJsShowVideo",
            traditional: true,
            data: {
                videoID: prop,
            }
        }).done(function (data) {
            if (data.success === true) {

                alert("går in i ajaxen, success. retunerar värde: " + data.returnData);
                $('#myVideoID').attr("src", data.returnData);
            
                $('#show-result-box').removeClass('hidden');

                //if (!keepCropBox) {
                //    $('#avatar-crop-box').addClass('hidden');
                //}
                //location.reload();
            } else {
                alert(data.errorMessage),
                location.reload();
            }
        }).fail(function (e) {
            alert('Cannot show video at this time'),
            location.reload();
        });
    });
   
</script>
