@model BorjesLIA.ViewModel.EuroViewModel

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{ var euroChartList = Model.settings.Select(x => x.ChartType).Distinct().ToList();
    var chartID = euroChartList.FirstOrDefault();
    if (chartID == 1)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'],});
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('EuroGraphDiv', title, dataTable);
            });
            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //console.log("View 1 \n",view);
                //for (var i = 0; i < dataTable.length; i++) {
                //    view.setColumns([0,[i],
                //        {
                //            calc: "stringify",
                //            sourceColumn: [i],
                //            type: "string",
                //            role: "annotation" },
                //            console.log("Calc \n", calc),
                //    ]);
                //    console.log("view.setColumns \n",view.setColumns);
                //}

                var options = {
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },
                    vAxis: { 
                        title: "Pris",  fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },                        
                    },

                    hAxis:{ 
                        title: "Månad", 
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26  },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true  },
                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    pointSize: 7,
                    dataOpacity: 0.9,
                    lineWidth: 4,
                };
                    var chart = new google.visualization.LineChart(document.getElementById("EuroGraphDiv"));
                    chart.draw(dataTable, options);
                }
        </script>
    }

    if (chartID == 2)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                console.log("Title", title);
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('EuroGraphDiv', title, dataTable);
                //drawLineChart('chart', title, dataTable);
            });

                function drawChart(elementId, title, dataTable) {
                    var options = { 
                        title: title,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                        legend: { position: 'top', maxLines: 3,
                            textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                            ,},
                        animation:{ "startup" : true, duration: 1000, easing: 'linear',
                        },
                        vAxis: { 
                            title: "Månad", fontName: 'Calibri', fontSize: 34,
                            titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                            textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        },

                        hAxis:{ 
                            title: "Pris",
                            titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                            textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                            viewWindowMode: 'explicit',
                            viewWindow: { min: 7.00, },
                            gridlines: { count: 15, },
                        },
                        chartArea: { left: 170, right:100, top: 200, width: "100%", height: "50%" },
                        dataOpacity: 0.9,
                    };
                    var chart = new google.visualization.BarChart(document.getElementById("EuroGraphDiv"));
                    chart.draw(dataTable, options);
                }
        </script>
    }
    if (chartID == 3)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                console.log("Title", title);
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('EuroGraphDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                var options = {
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },

                    vAxis: { 
                        title: "Pris",
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },
                    },

                    hAxis:{ 
                        title: "Månad", fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    dataOpacity: 0.9,

                };
                var chart = new google.visualization.ColumnChart(document.getElementById("EuroGraphDiv"));
                    chart.draw(dataTable, options);
                }
        </script>
    }
    if (chartID == 4)
    {
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('EuroGraphDiv', title, dataTable);
            });
            function drawChart(elementId, title, dataTable) {
                var options = { 
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },

                    vAxis: { 
                        title: "Pris",
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },
                    },

                    hAxis:{ 
                        title: "Månad", fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    pointSize: 4,
                    dataOpacity: 0.9,
                    lineWidth: 2,
                };
                var chart = new google.visualization.AreaChart(document.getElementById("EuroGraphDiv"));
                    chart.draw(dataTable, options);
                }
        </script>
    }
}

<div class="container" id="EuroGraphDiv" style="width: 100%; height:1006px"></div>
