@model BorjesLIA.Models.Euro.EuroExchangeModel

@{
    ViewBag.Title = "Delete";
}
<body class="nav-md">
    <div class="container-dashboard body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @Html.Partial("_AdminPanel")
                </div>
            </div>
            <div class="right_col" role="main">
                <h2>Ta bort</h2>

                <h3>Du är på väg att ta bort data? Borttagning av data är permanent.</h3>
                <p>Vill du fortsätta?</p>
                <div>
                    <h4>Euroindex</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.euroValue)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.euroValue)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        @*<dt>
                            @Html.DisplayNameFor(model => model.EuroChartID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EuroChartID)
                        </dd>*@

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>