@model BorjesLIA.ViewModel.EuroViewModel
<!--ajax script-->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!--ajax script end-->
    <!-- FORMFIELDS START -->
    <div class="col-md-3 col-sm-12 col-xs-12 pull-left">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lägg till Eurokursindex</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <section class="form-group">
                @using (Ajax.BeginForm("_AddEuro", new AjaxOptions { OnSuccess = "OnSuccess" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-9">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="input-group">
                                <span>Välj datum </span>
                                <div class="input-group input-append date" id="dateRangePicker">
                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" name="date" readonly />
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span>Skriv in värde - <i><small>0,000</small></i></span>
                                <div class="input-group">
                                    <span class="input-group-addon add-on">
                                        <i class="fa fa-calculator"></i>
                                    </span>
                                    @Html.EditorFor(model => model.AddEuro.euroValue, new { htmlAttributes = new { @class = "form-control", placeholder = "0,000" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.AddEuro.euroValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn submit-button">Lägg till</button>
                            </div>
                        </div>
                    </div>
                }

                @*<span class="text-danger">@ViewBag.EmptyForm</span>*@

                <!-- Create ENDS -->
            </section>
        </div>
    </div>
</div>
<div class="col-md-9 col-sm-12 col-xs-12 pull-left">
    <div>
        @Html.Partial("_EuroList", Model)
    </div>
</div>
<!--List END-->
<!--Graph-->
<div class="col-md-12 col-sm-12 col-xs-12">
    @{ var euroList = Model.settings.Select(x => x.ChartType).Distinct().ToList();
        var chartID = euroList.FirstOrDefault();
        // create a check if newEuroList is empty
        if (chartID == 0)
        {
            <div class="x_panel">
                <div class="x_title">
                    @Html.Partial("_Error")
                </div>
            </div>
        }
        else
        {
            <div>
                @Html.Partial("_EuroLineGraph")
            </div>
        }
    }
</div>
<!--Graph END-->
<!--script using ajax, relode page to show new graph-->
<script type="text/javascript">
    function OnSuccess(response) {
        location.reload();
    }
</script>

