@model BorjesLIA.ViewModel.DieselQuarterViewModel

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{ var euroChartList = Model.settings.Select(x => x.ChartType).ToList();
    var chartID = euroChartList.FirstOrDefault();
    if (chartID == 1)
    {
        <script type="text/javascript">
            google.charts.load('current', { 'packages': [['line']], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DPQChartDiv', title, dataTable);
            });

                function drawChart(elementId, title, dataTable) {
                    var options = {
                        chart: {
                            title: title,
                        },

                    };
                    var chart = new google.charts.Line(document.getElementById(elementId));
                    chart.draw(dataTable, google.charts.Line.convertOptions(options));
                }

        </script>
    }
    if (chartID == 2)
    {
        <script type="text/javascript">
            google.charts.load('current', { 'packages': [['bar']], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DPQChartDiv', title, dataTable);
            });

                function drawChart(elementId, title, dataTable) {
                    var options = {
                        chart: {
                            title: title,
                        },
                        bars: 'horizontal' // Required for Material Bar Charts.
                    };
                    var chart = new google.charts.Bar(document.getElementById(elementId));
                    chart.draw(dataTable, options);
                }

        </script>
    }
    if (chartID == 3)
    {

        <script type="text/javascript">
            google.charts.load('current', { 'packages': [['bar']], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DPQChartDiv', title, dataTable);
            });

                function drawChart(elementId, title, dataTable) {
                    var options = {
                        chart: {
                            title: title,
                        },

                    };
                    var chart = new google.charts.Bar(document.getElementById(elementId));
                    chart.draw(dataTable, options);
                }

        </script>
    }

    if (chartID == 4)
    {

        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DPQChartDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                var options = {
                    chart: {
                        title: title,
                    },

                };
                var chart = new google.visualization.AreaChart(document.getElementById(elementId));
                chart.draw(dataTable, options);
            }

        </script>
    }
}
<div class="x_panel">
    <div class="x_content">
        <div id="DPQChartDiv" style="width: 100%; height: 450px"></div>
    </div>
</div>


