
@model BorjesLIA.ViewModel.EuroViewModel
<!--ajax script-->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!--ajax script end-->
<!-- FORMFIELDS START -->
<div class="col-md-4 col-sm-12 col-xs-12 pull-left">
    <div class="x_panel">
        <div class="x_title">
            <h2>Inställningar för Eurograf</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            @using (Ajax.BeginForm("SaveEuroSettings", new AjaxOptions { OnSuccess = "OnSuccess" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="dropdown">
                        @Html.EnumDropDownListFor(model => model.ChartType, "Diagramtyp", new { @class = "btn btn-default dropdown-toggle " })
                        @Html.ValidationMessageFor(model => model.ChartType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="dropdown">
                        @Html.ListBoxFor(model => model.newEuroList, new MultiSelectList(Model.newEuroList.Select(x => x.Date.Year).Distinct()), new { @class = "list-group-item" })
                        @Html.ValidationMessageFor(model => model.AddEuro.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="form-group ">
                        <div class="btn-block">
                            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-floppy-save"></i> Spara</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--List END-->
<!--Graph-->
<div class="col-md-8 col-sm-12 col-xs-12">
    <div id="graf">
        @Html.Partial("_EuroNewGraph")
    </div>
</div>

<!--Graph END-->
<!--script using ajax, relode page to show new graph-->
<script type="text/javascript">
    function OnSuccess(response) {
        window.location.reload();
    }
</script>


