@model BorjesLIA.ViewModel.DieselWeekViewModel
<!--ajax script-->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!--ajax script end-->

<div class="col-md-3 col-sm-12 col-xs-12 pull-left">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista över veckopriser Diesel</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <section class="form-control-static">
                @using (Ajax.BeginForm("_AddWeekDiesel", new AjaxOptions { OnSuccess = "OnSuccess" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="col-md-9">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="input-group date">
                                <p>Välj år </p>
                                <div class="input-group input-append date" id="datepicker-year">
                                    <input class="form-control" name="date" readonly />
                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="input-group date">
                                <p>Välj vecka </p>
                                <div class="input-group input-append date" id="datepicker-week">
                                    <input class="form-control" name="date" readonly />
                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="input-group date">
                                <p>Välj vecka </p>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AddWeekDiesel.Week, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                 @Html.ValidationMessageFor(model => model.AddWeekDiesel.Week, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <p>Skriv in dieselpris </p>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AddWeekDiesel.DieselWeekValue, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddWeekDiesel.DieselWeekValue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <input type="submit" value="Lägg till" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    </div>
                }
            </section>
         </div>
    </div>
</div>
<div class="col-md-9 col-sm-12 col-xs-12 pull-left">
                @Html.Partial("_WeekPriceDiesel", Model)
</div>
   
<div class="col-md-12 col-sm-12 col-xs-12">
    @{ var dieselWeekChartList = Model.settings.Select(x => x.ChartType).Distinct().ToList();
        var chartID = dieselWeekChartList.FirstOrDefault();
        // create a check if newEuroList is empty
        if (chartID == 0)
        {
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                @Html.Partial("_Error")
            </div>

        }
        else
        {
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                @Html.Partial("_DieselWeekGraph")
            </div>
        }
    }
</div>



        <!--script using ajax, relode page to show new graph-->
            <script type="text/javascript">
                function OnSuccess(response) {
                    location.reload();
                }

            </script>
