@model BorjesLIA.Models.URL.URLModel

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_AdminPanel")
<h2>Details</h2>

<div>
    <h4>URLModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.urlString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
