@model BorjesLIA.ViewModel.DMTViewModel
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/Scripts/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
<!-- DataTabel CSS-->
<link href="~/Content/DataTables-1.10.11/extensions/Responsive/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.11/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<!-- DataTabel JS-->

<script src="~/Scripts/DataTables-1.10.11/media/js/dataTables.responsive.min.js"></script>
<script src="~/Scripts/DataTables-1.10.11/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#myDTMTable').DataTable({
            "order": [[1, "desc"]],
            "processing": true,

        });
    });
</script>

<div class="x_panel">
    <div class="x_title">
        <h2>Google Chart <small>Data ifrån databas via PartialView</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <ul class="nav navbar-left panel_toolbox">
        <li>
            <a class="btn btn-default buttons-copy buttons-html5 btn-sm" data-toggle="tooltip" data-placement="top" title="Kopiera" tabindex="0" aria-controls="datatable-buttons">
                <span>Copy</span>
            </a>
        </li>
        <li>
            <a class="btn btn-default buttons-csv buttons-html5 btn-sm" data-toggle="tooltip" data-placement="top" title="Spara till CSV-fil" tabindex="0" aria-controls="datatable-buttons">
                <span>CSV</span>
            </a>
        </li>
        <li>
            <a class="btn btn-default buttons-excel buttons-html5 btn-sm" data-toggle="tooltip" data-placement="top" title="Spara till Excel" tabindex="0" aria-controls="datatable-buttons">
                <span>Excel</span>
            </a>
        </li>
        <li>
            <a class="btn btn-default buttons-pdf buttons-html5 btn-sm" data-toggle="tooltip" data-placement="top" title="Spara till PDF" tabindex="0" aria-controls="datatable-buttons">
                <span>PDF</span>
            </a>
        </li>
        <li>
            <a class="btn btn-default buttons-print btn-sm" data-toggle="tooltip" data-placement="top" title="Skriv ut" tabindex="0" aria-controls="datatable-buttons">
                <span>Print</span>
            </a>
        </li>
    </ul>
    <div class="x_content">
        <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table id="myDTMTable" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                <thead>
                    <tr>
                        <th>
                            DTMPris
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            ChartID
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.newDTMList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DieselDTMValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DieselDTMChartID)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


