@model BorjesLIA.Models.Diesel.DtmModel

@{
    ViewBag.Title = "Delete";
}
<body class="nav-md">
    <div class="container-dashboard body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @Html.Partial("_AdminPanel")
                </div>
            </div>
            <div class="right_col" role="main">
                <h2>Delete</h2>

                <h3>Datat tas bort permanent! Vill du fortsätta?</h3>
                <div>
                    <h4>DtmModel</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DieselDTMValue)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DieselDTMValue)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Tillbaka", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>