@model BorjesLIA.ViewModel.DMTViewModel
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{ var dtmChartList = Model.settings.Select(x => x.ChartType).Distinct().ToList();
    // create a check if newEuroList is empty
    var chartID = dtmChartList.FirstOrDefault();
    if (chartID == 1)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'],});
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //for(var i = 0; i < dataTable.length; i++){

                //    view.setColumns([0, i,
                //                       { calc: "stringify",
                //                           sourceColumn: dataTable[i].cols,
                //                           type: "string",
                //                           role: "annotation" },
                //    ]);
                //}

                var options = {
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },
                    vAxis: { 
                        title: "Procent %",  fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, }, 
                        format:'##,##%',
                    },

                    hAxis:{ 
                        title: "Månad", 
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26  },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true  },

                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    pointSize: 7,
                    dataOpacity: 0.9,
                    lineWidth: 4,
                };
                var chart = new google.visualization.LineChart(document.getElementById("DMTGraphDiv"));
                chart.draw(dataTable, options);
                //chart.draw(view, options);
                }
        </script>
    }
    if (chartID == 2)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);                
                drawChart('DMTGraphDiv',title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //for(var i = 0; i < dataTable.length; i++){

                //    view.setColumns([0, i,
                //                        { calc: "stringify",
                //                            sourceColumn: dataTable[i].cols,
                //                            type: "string",
                //                            role: "annotation" },
                //    ]);
                //}
                var options = { 
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },
                    vAxis: { 
                        title: "Månad", fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        
                    },

                    hAxis:{ 
                        title: "Procent %",
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindowMode: 'explicit',
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },
                        format:'##,##%',

                    },
                    chartArea: { left: 170, right:100, top: 200, width: "100%", height: "50%" },
                    dataOpacity: 0.9,
                };
                    var chart = new google.visualization.BarChart(document.getElementById("DMTGraphDiv"));
                chart.draw(dataTable, options);
                    //chart.draw(view, options);
                }
        </script>
    }

    if (chartID == 3)
    {

        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                console.log("Title", title);
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //for(var i = 0; i < dataTable.length; i++){

                //    view.setColumns([0, i,
                //                        { calc: "stringify",
                //                            sourceColumn: dataTable[i].cols,
                //                            type: "string",
                //                            role: "annotation" },
                //    ]);
                //}
                var options = {
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },

                    vAxis: { 
                        title: "Procent %",
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },
                        format:'##,##%',
                    },

                    hAxis:{ 
                        title: "Månad", fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },

                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    dataOpacity: 0.9,
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("DMTGraphDiv"));
                chart.draw(dataTable, options);
                //chart.draw(view, options);
                }
        </script>
    }

    if (chartID == 4)
    {

        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });
            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //for(var i = 0; i < dataTable.length; i++){

                //    view.setColumns([0, 
                //                       { calc: "stringify",
                //                           sourceColumn: i.,
                //                           type: "string",
                //                           role: "annotation" },
                //    ]);
                //}
                var options = { 
                    title: title,
                    titleTextStyle: { fontName: 'Calibri', fontSize: 34},
                    legend: { position: 'top', maxLines: 3,
                        textStyle:{ fontName: 'Calibri', fontSize: 24 }                        
                        ,},
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',
                    },

                    vAxis: { 
                        title: "Procent %",
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26 },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },
                        viewWindow: { min: 7.00, },
                        gridlines: { count: 15, },
                        format:'##,##%',
                    },

                    hAxis:{ 
                        title: "Månad", fontName: 'Calibri', fontSize: 34,
                        titleTextStyle: { fontName: 'Calibri', fontSize: 26   },
                        textStyle: { fontName: 'Calibri', fontSize: 26, bold: true },

                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    pointSize: 4,
                    dataOpacity: 0.9,
                    lineWidth: 2,
                };
                    var chart = new google.visualization.AreaChart(document.getElementById("DMTGraphDiv"));
                chart.draw(dataTable, options);
                    //chart.draw(view, options);
            }

        </script>
    }
}
<div class="container" id="DMTGraphDiv" style="width: 100%; height:1006px"></div>
    