@model BorjesLIA.ViewModel.DMTViewModel
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{ var dtmChartList = Model.settings.Select(x => x.ChartType).Distinct().ToList();
    // create a check if newEuroList is empty
    var chartID = dtmChartList.FirstOrDefault();
    if (chartID == 1)
    {
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'],});
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(dataTable);
                //console.log("View 1 \n",view);
                //for (var i = 0; i < dataTable.length; i++) {
                //    view.setColumns([0,[i],
                //        {
                //            calc: "stringify",
                //            sourceColumn: [i],
                //            type: "string",
                //            role: "annotation" },
                //            console.log("Calc \n", calc),
                //    ]);
                //    console.log("view.setColumns \n",view.setColumns);
                //}

                var options = {
                    legend: { position: 'top', maxLines: 3 },
                    title: title,
                    animation:{ "startup" : true, duration: 1000, easing: 'linear',},
                    
                    vAxis: { title: "Pris", titleTextStyle: { fontName: 'Calibri', },
                        //viewWindow: { max: 11,  min: 0, },
                        //gridlines: { count: 45,},
                        ticks: 
                            [
                                0.00, 
                                10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5,
                                15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5,
                                20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5,
                                25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5,
                                30.0,
                                //28.00, 28.50, 29.00, 29.50, 30.00
                            ]
                    },

                    hAxis:{ title: "Månad", titleTextStyle: { fontName: 'Calibri', }, minValue: 0, },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" }, 
                    pointSize: 4,
                    dataOpacity: 0.9,
                    lineWidth: 2,
                };
                var chart = new google.visualization.LineChart(document.getElementById("DMTGraphDiv"));
                    chart.draw(dataTable, options);
                }
        </script>
    }
    if (chartID == 2)
    {
        <!-- 
            @*<script type="text/javascript">
                google.load("visualization", "1", { packages: ["corechart"] });
                google.setOnLoadCallback(drawchart);
                function drawchart() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        // Calls an Action from Controller ie. EuroExhangeModelsController/GetData
                        url: '@Url.Action("GetData")',
                        data: "{ }",
                        // If data connections is success
                        success:
                            function drawchart(dataValues) {

                                // Adds data into columns to DataTable
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Datum');
                                data.addColumn('number', 'Pris');
                                if (window.JSON && !window.JSON.dateParser) {
                                    var reISO = /^(\y{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}(?:\.\d*))(?:Z|(\+|-)([\d|:]*))?$/;
                                    var reMsAjax = /^\/Date\((d|-|.*)\)[\/|\\]$/;

                                    JSON.dateParser = function (key, value) {
                                        if (typeof value === 'string') {
                                            var a = reISO.exec(value);
                                            if (a)
                                                return new Date(value);
                                            a = reMsAjax.exec(value);
                                            if (a) {
                                                var b = a[1].split(/[-+,.]/);
                                                return new Date(b[0] ? +b[0] : 0 - +b[1]);
                                            }
                                        }
                                        return value;
                                    };

                                }
                                // Loops through the DataTable with data from database
                                for (var i = 0; i < dataValues.length; i++) {
                                    var str = window.JSON.stringify(dataValues[i].Date);
                                    //console.log("Här var det strängat",str);
                                    var date = JSON.parse(str, JSON.dateParser);
                                    //console.log("Här ska det vara datum", date);
                                    data.addRow([
                                        //(dataValues[i].Date), dataValues[i].euroValue])
                                        (new Date(date).toDateString()), dataValues[i].DieselDTMValue])
                                    console.log(data);

                                }
                                var view = new google.visualization.DataView(data);
                                view.setColumns([0, 1,
                                                 {
                                                     calc: "stringify",
                                                     sourceColumn: 1,
                                                     type: "string",
                                                     role: "annotation",
                                                 },
                                ]);
                                // Settings for visualization of the graph
                                var options = {
                                    chartArea: { left: 45, top: 20, width: "100%", height: "80%" },
                                    title: 'Drivmedelstillägg @Model.Year',
                                    width: '100%',
                                    height: '100%',
                                    pointSize: 3,
                                    dataOpacity: 0.4,
                                    lineWidth: 2,
                                    hAxis: {
                                        title: 'Datum', titleTextStyle: { color: '#333' },
                                    }
                                }

                                // Draws the graph into a specified div
                                var chart = new google.visualization.BarChart(document.getElementById("DTMGraphDiv"));
                                chart.draw(view, options);


                            },
                        // If collectning data from database fails promp message here
                        error: function () {
                            alert("Ett fel uppstod när datat försökte hämtas!");
                        }
                    });
                }
            </script>*@
            -->
        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);                
                drawChart('DMTGraphDiv',title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                var options = {
                        legend: { position: 'top', maxLines: 3},
                        title: title,
                        animation:{ "startup" : true, duration: 1000, easing: 'linear',
                        },

                        vAxis: {  title: "Månad", titleTextStyle: { fontName: 'Calibri', }, minValue: 0,  },                       
                       
                        hAxis:{ titleTextStyle: { fontName: 'Calibri', }, 
                            viewWindowMode: 'explicit',  
                            viewWindow: { min: 0, },
                            gridlines: { count: 20, },

                        },
                        chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" }, 
                        pointSize: 7, dataOpacity: 0.8, lineWidth: 4,
                    };
                    var chart = new google.visualization.BarChart(document.getElementById("DMTGraphDiv"));
                    chart.draw(dataTable, options );
                }
        </script>
    }

    if (chartID == 3)
    {

        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                console.log("Title", title);
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });

            function drawChart(elementId, title, dataTable) {
                var options = {
                    legend: { position: 'top', maxLines: 3},
                    title: title,
                    animation:{ "startup" : true, duration: 1000, easing: 'linear', },

                    vAxis: {
                        title: "Månad",
                        titleTextStyle: { fontName: 'Calibri', },
                        //minValue: 0,
                        //gridlines: { count: 100,  },
                        ticks:
                            [
                                10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5,
                                15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5,
                                20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5,
                                25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5,
                                30.0,
                                //30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5,
                            ],
                    },
                    hAxis:{
                        title: "Pris",
                        titleTextStyle: { fontName: 'Calibri', }
                    },
                    chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                    pointSize: 7,
                    dataOpacity: 0.8,
                    lineWidth: 4,
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("DMTGraphDiv"));
                chart.draw(dataTable, options);
                }
        </script>
    }

    if (chartID == 4)
    {

        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'], });
            google.charts.setOnLoadCallback(function () {
                var title = @Html.Raw(Json.Encode(Model.Title));
                var tdata = @Html.Raw(Json.Encode(Model.DataTable));
                var dataTable = new google.visualization.DataTable(tdata);
                drawChart('DMTGraphDiv', title, dataTable);
            });
            function drawChart(elementId, title, dataTable) {
                //var view = new google.visualization.DataView(data);
                //for(var i = 0; i < dataTabel.lenth; i++){

                //    view.setColumns([i,
                //                     { calc: "stringify",
                //                         sourceColumn: i,
                //                         type: "string",
                //                         role: "annotation" },
                //                     ]);
                //}
                    var options = {
                        legend: { position: 'top', maxLines: 3 },
                        title: title,
                        animation:{ "startup" : true, duration: 1000, easing: 'linear', },

                        vAxis: { title: "Pris",
                            titleTextStyle: { fontName: 'Calibri', },
                            minValue: 0,
                            //gridlines: { count: 100, },
                            ticks:
                                [
                                 0.00, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5,
                                15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5,
                                20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5,
                                25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5,
                                30.0,
                                    //30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5,
                                ],
                        },
                        hAxis:{ title: "Månad", titleTextStyle: { fontName: 'Calibri', },},
                        chartArea: { left: 120, right:100, top: 200, width: "100%", height: "50%" },
                        pointSize: 4,
                        dataOpacity: 0.4,
                        lineWidth: 2,
                    };
                    var chart = new google.visualization.AreaChart(document.getElementById("DMTGraphDiv"));
                    chart.draw(dataTable, options);
            }

        </script>
    }
}
<div class="container" id="DMTGraphDiv" style="width: 100%; height:1010px"></div>
    