    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Administrera", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ny Användare", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">URL <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till Url", "Index", "URLModels")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bilder <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till Bild", "Index", "Imgs")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Euro <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till Euro", "Index", "EuroExchangeModels")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diesel <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till Diesel", "Index", "DieselPriceModels")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DTM <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till DTM", "Index", "DtmModels")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lägg till Video", "Index", "VideoModels")</li>
                            <li>Länk2</li>
                            <li>Länk3</li>
                            <li>Länk3</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
