@model BorjesLIA.ViewModel.ResultTilesPanelViewModels 
<!-- top tiles -->
<div class="x_panel">
    <div class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Dieselpris Vecka</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Dieselpris Kvartal</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselQuarter) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselQuarter) </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Euroindex</span>
                <div class="count">@Html.DisplayFor(x => x.actualEuro) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffEuro) </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> DTM</span>
                <div class="count">@Html.DisplayFor(x => x.actualDTM) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDTM) </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> From last Week</span>
            </div>
        </div>
    </div>
</div>
