 <nav class="navbar navbar-default">
     <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false">
                 <span class="sr-only">Toggle navigation 2</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>

             @*@Html.ActionLink("Administrera", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
         </div>

         <div class="collapse navbar-collapse" id="#collapse-2">
             <ul class="nav navbar-nav">
                 <li class="text-uppercase">@Html.ActionLink("Ny Användare", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">URL</span>
                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till Url", "Index", "URLModels")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">Bilder</span>
                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till Bild", "Index", "Imgs")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">Euro </span>
                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till Euro", "Index", "EuroExchangeModels")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">Diesel </span>

                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till Diesel", "Index", "DieselPriceModels")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">DTM </span>

                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till DTM", "Index", "DtmModels")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="text-uppercase">Video </span>

                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li>@Html.ActionLink("Lägg till Video", "Index", "VideoModels")</li>
                         <li><a href="/">Länk2</a></li>
                         <li><a href="/">Länk3</a></li>
                         <li><a href="/">Länk3</a></li>
                     </ul>
                 </li>

             </ul>
         </div>
     </div>
</nav>