@model BorjesLIA.ViewModel.ResultTilesPanelViewModels 
<!-- top tiles -->
<div class="x_panel">
    <div class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="glyphicon glyphicon-fire red"></i> Dieselpris Vecka</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                @{  if (@Model.diffDieselWeek.AsDecimal() == 0)
                    {
                        <span class="count_bottom"><i>@Html.DisplayFor(x => x.diffDieselQuarter) </i> -</span>
                    }
                    else if (@Model.diffDieselWeek.AsDecimal() > 0)
                    {
                        <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> <i class="fa fa-angle-up green"></i></span>
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red">@Html.DisplayFor(x => x.diffDieselWeek) </i> <i class="fa fa-angle-down red"></i> </span>
                    }
                }
            </div>

        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="glyphicon glyphicon-fire red"></i> Dieselpris Kvartal</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselQuarter) </div>
                @{ if (@Model.diffDieselQuarter.AsDecimal() == 0)
                    {
                        <span class="count_bottom"><i>@Html.DisplayFor(x => x.diffDieselQuarter) </i> - </span>
                    }
                    else if (@Model.diffDieselQuarter.AsDecimal() > 0)
                    {
                        <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselQuarter) </i> <i class="fa fa-angle-up green"></i> </span>
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red">@Html.DisplayFor(x => x.diffDieselQuarter) </i> <i class="fa fa-angle-down red"></i> </span>
                    }
                }
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="glyphicon glyphicon-euro blue"></i> Euroindex</span>
                <div class="count">@Html.DisplayFor(x => x.actualEuro) </div>
                @{
                    if (@Model.diffEuro.AsDecimal() == 0)
                    {
                        <span class="count_bottom"> <i>@Html.DisplayFor(x => x.diffEuro) </i> - </span>
                    }
                    else if (@Model.diffEuro.AsDecimal() > 0)
                    {
                        <span class="count_bottom"> <i class="green">@Html.DisplayFor(x => x.diffEuro) </i> <i class="fa fa-angle-up green"></i> </span>
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red">@Html.DisplayFor(x => x.diffEuro) </i> <i class="fa fa-angle-down red"></i> </span>
                    }
                }
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="glyphicon glyphicon-fire red"></i> DTM</span>
                <div class="count">@Html.DisplayFor(x => x.actDTM) </div>
                @{
                    if (@Model.diffDTM.AsDecimal() == 0)
                    {
                        <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDTM) </i> - </span>
                    }
                    if (@Model.diffDTM.AsDecimal() > 0)
                    {
                        <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDTM) </i> <i class="fa fa-angle-up green"></i> </span>
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red">@Html.DisplayFor(x => x.diffDTM) </i> <i class="fa fa-angle-down red"></i> </span>
                    }
                }
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Not In Use</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> <i class="fa fa-angle-up green"></i> </span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Not In Use</span>
                <div class="count">@Html.DisplayFor(x => x.actDieselWeek) </div>
                <span class="count_bottom"><i class="green">@Html.DisplayFor(x => x.diffDieselWeek) </i> <i class="fa fa-angle-down red"></i> </span>
            </div>
        </div>
    </div>
</div>
