<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/owl.transitions.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                @Html.ActionLink("~/Content/images/borjes-logga-jpg.jpg" , "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
            </div>
                
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text-right">
                    @*<li>@Html.ActionLink("Admin", "Login", "Account")</li>*@
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <button type="submit" class="btn btn-default fa fa-tv">Helskärm</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
        <script src="~/Scripts/jquery-2.2.3.js"></script>
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/mousescroll.js"></script>
        <script src="~/Scripts/jquery.prettyPhoto.js"></script>
        <script src="~/Scripts/jquery.isotope.min.js"></script>
        <script src="~/Scripts/jquery.inview.min.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script src="~/Scripts/main.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
