@model BorjesLIA.Models.Diesel.DieselQuarterPriceModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DieselQuarterPriceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieselWeekValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieselWeekValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
