@model BorjesLIA.Models.Diesel.DieselQuarterPriceModel

@{
    ViewBag.Title = "Edit";
}

    <div class="container-dashboard body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                @Html.Partial("_AdminPanel")
            </div>
        </div>
        <div class="right_col" role="main">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Inställningar</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 pull-left">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ändra data @Model.Year - @Model.Month - @Model.Quarter</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @using (Ajax.BeginForm("Edit", new AjaxOptions { UpdateTargetId = "ajaxReplace" })) //använder onSuccess ist UpdateTargetId = "update", ger betydligt mer laddtid.
                            {
                                @Html.AntiForgeryToken()

                                <div class="col-md-9">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ID)

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>Skapad av:</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.User, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>Datum:</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>År:</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.Year, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>Månad:</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.Month, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>Kvartal:</span>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Quarter, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Quarter, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span>Nytt värde: <i><small>0,000</small></i></span>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.DieselQuarterValue, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DieselQuarterValue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.HiddenFor(model => model.LoggDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LoggDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="submit" class="btn submit-button" value="Upload">Spara</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Tillbaka", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







